.App {
  text-align: center;
  width: 80vw;
  margin: auto;
  padding-top: 5rem;
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.editor {
  height: 500px;
  background-color: rgb(243, 239, 239);
  box-shadow: 0px 4px 8px rgba(58, 58, 68, 0.16),
    0px 8px 16px rgba(90, 91, 106, 0.16);

}
.btn-group {
  width: 700px;
}
.App-link {
  color: 'blue';
  font-style: italic;
  cursor: pointer;
}
.public-DraftEditorPlaceholder-inner {
  color: gray;
  font-style: italic;
}
